*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;     
    color: palevioletred;
    padding: 0 1rem;

}

#logo span{
    background-color: white;
    font-size: 3rem;
    font-weight: 600;
}

header div{
    background-color: white; 
    align-items: center;  
}

nav{
    background-color: white; 
    display: flex;    
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    background-color: white;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem;
    background-color: white; 
    font-size: 1.5rem;
}

#divLista{
    margin: 2rem 0;
}

#divLista p{
    font-size: 2rem;
    color: white;
}

.botonComenzar {
    color: white;
    border: 1.5rem white ;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

/* .botonReiniciar{
    color: white;
    border: 1.5rem white ;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
} */

#lista{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: palevioletred;
}

#lista li{
    display: flex;
    margin: 0 15px;
    background-color: palevioletred; 
    font-size: 1.5rem;
}


h1{
    font-size: 5rem;
    color: white;
    background-color: palevioletred;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2{
    font-size: 3rem;
    color: palevioletred;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    padding: 5rem;
    background-color: palevioletred;
}

main p{
    font-size: 1.5rem;
    background-color: palevioletred;
    color: white;
}

.btn{
    background-color: palevioletred;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.6rem;
    margin: 1rem;
    width: 10rem;
}

.btn:hover{
    background-color: white;
    color: palevioletred;
    box-shadow: 0px 0px 32px 0px palevioletred;
    border: 0.5rem palevioletred;

}
label{
    margin: 0.5rem;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    box-shadow: 0px -12px 5px -1px rgba(0,0,0,.15);
    background-color: white; 
    color: palevioletred;

}

footer div{
 display: flex;
 align-items: center;
 flex-flow: column wrap;
 background-color: white; 
}

