*{
    margin: 0%;
    padding: 0%;
    background-color: palevioletred;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure; 
    -webkit-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.75);;
    margin-bottom: 2rem;
    color: palevioletred;
    padding: 0 1rem;

}

#logo span{
    background-color: azure;
    font-size: 3rem;
    font-weight: 600;
}

header div{
    background-color: azure; 
    align-items: center;  
}

nav{
    background-color: azure; 
    display: flex;    
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: azure;
}

li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px;
    background-color: azure; 
    font-size: 1.5rem;
}

#divLista{
    margin: 2rem 0;
}

#divLista p{
    font-size: 2rem;
    color: azure;
}

#divLista button{
    background-color: azure;
    font-weight: 100;
    color: palevioletred;
    border: 1.5rem white ;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

#lista{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: palevioletred;
}

#lista li{
    display: flex;
    margin: 0 15px;
    background-color: palevioletred; 
    font-size: 1.5rem;
}


h1{
    font-size: 5rem;
    color: azure;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2{
    font-size: 3rem;
    color: azure;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    padding: 5rem;
    margin-bottom: 12rem;
}

p{
    font-size: 1.5rem;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    -webkit-box-shadow: 0px -1px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 26px 11px rgba(0,0,0,0.75);
    background-color: azure; 
    color: palevioletred;

}

footer div{
 display: flex;
 align-items: center;
 flex-flow: column wrap;
 
 background-color: azure; 
}

footer div p{
    background-color: azure; 
}